    html {
        scroll-behavior: smooth;
        font-family: Helvetica, sans-serif, Arial;
    }

    body {
        margin: 0 auto;
        background-color:#070707;
    }

    html {
        scroll-behavior: smooth;
        font-family: Helvetica, sans-serif, Arial;
    }

    body {
        margin: 0 auto;
        background-color: #070707;
        background-image: url('link.jpg');
        background-size: cover; 
        background-repeat: no-repeat;
    }


    
